* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.grid-container > * {
  font-family: "Orbitron", sans-serif;
  background-image: url("./img/planet-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.grid-container {
  display: grid;
  grid-template: "main" 100%;
}

#main {
  grid-template: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(209, 209, 209);
  padding: 5px;
  font-family: "Orbitron", sans-serif;
}

.form-box {
  width: 370px;
  height: 560px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.719);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  color: #e4e1e1;
  font-family: "Orbitron", sans-serif;
}

#buttons {
  width: 220px;
  height: 40px;
  margin: 40px auto;
  position: relative;
  border-radius: 25px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  font-family: "Orbitron", sans-serif;
}

.register-buttons {
  padding: 12px 30px;
  background-color: transparent;
  position: relative;
  outline: none;
  cursor: pointer;
  border: 0;
  font-weight: 400;
  color: #e4e1e1;
  font-family: "Orbitron", sans-serif;
  font-size: 12px;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background-color: #e50914;
  border-radius: 25px;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.7s;
  background: transparent;
  margin: 5px;
  border: 0;
  outline: none;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#log {
  left: 50px;
}

#sign {
  left: 550px;
}

.log-btn {
  width: 250px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  background-color: #0b18d1;
  font-weight: 500;
  border: 0;
  height: 45px;
  font-size: 20px;
  border-radius: 12px;
  margin-top: 50px;
  font-family: "Orbitron", sans-serif;
  text-shadow: 1px 1px 2px black;
  color: #e1e1e4;
  text-align: center;
  justify-content: center;
}

.log-btn:hover {
  background-color: #e4e1e1;
  color: black;
  cursor: pointer;
  transition-duration: 0.7s;
}
h1 {
  color: #e50914;
  font-size: 38px;
  text-shadow: 1px 1px 2px black;
}

input {
  all: unset;
  border-bottom: #fdfdfd 1px solid;
  text-shadow: 1px 1px 2px black;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
}

/*Clases*/

.red {
  border-bottom: #ff0000 1px solid;
}

.green {
  border-bottom: #00ff00 1px solid;
}
